<div class="itemsList" ng-controller="MainController as mainCtrl">
  <div class="item" ng-repeat="item in items">
    <h2>Product: {{item.title}}</h2>
    <h3>Price: {{item.price | currency}}</h3>
    <a href="/#/{{item.itemId}}"><img class="itemPhoto" ng-src="{{item.smImg}}"></a><br/ >
    <!--<p>Title: {{item.title}}</p>-->
    <a href="{{item.url}}"}>Find me at Etsy!</a><br/ >
    <a href="#/{{item.itemId}}"><button class="navButt" type="button" name="button">view</button></a>
    <button class="navButt" type="button" name="button"><a href="#/myCart">add</a></button>
  </div>

</div>
